<!DOCTYPE html>

<title>Processing</title>
{% if ticket %}
<h2>Next ticket</h2>
<div>Processing ticket #{{ ticket.number }}</div>
<div>Level {{ urgency }}</div>
<div>{{ ticket.message }}</div>

<table>
<tbody>
    <tr>
        <form method="post">{% csrf_token %}
        <td>
            <button name="action" value="process" type="submit">Process</button>
        </td>
        <td>
            <button name="action" value="revoke" type="submit">Revoke</button>
        </td>
    </tr>
</tbody>
</table>
{% else %}
<h2>No tickets left</h2>
{% endif %}

<br/>
<div>{{ processed }} processed, {{ revoked }} revoked</div>
